
<div class="container-form">
    <form class="content-form">
        <h1>Formulario Factura</h1>
        <div class="content-form-item">
            <div class="form">
                <label class="title">Tipo de Factura</label>
                <input class="form-data" type="text">
                <i class="fa-solid fa-chevron-down"></i>
                <!-- <div class="alert alert-danger mt-1">
                    Error
                </div> -->
            </div>
        </div>

        <div class="content-form-item">
            <div class="form">
                <label class="title">Cedula</label>
                <input class="form-data" type="text">
                <i class="fa-solid fa-address-card"></i>

            </div>
            <div class="form">
                <label class="title">Examen</label>
                <input class="form-data" type="text">
                <i class="fa-solid fa-hospital-user"></i>
            </div>

            <div class="form">
                <label class="title">Cliente</label>
                <input class="form-data" type="text">
                <i class="fa-solid fa-address-card"></i>
            </div>
        </div>

        <div class="content-form-item">
            <div class="form">
                <label class="title">Tipo de Venta</label>
                <input class="form-data" type="text">
                <i class="fa-solid fa-address-card"></i>
            </div>

            <div class="form">
                <mat-form-field class="form-field-date">
                    <mat-label class="title">Fecha de emisión</mat-label>
                    <input matInput [matDatepicker]="datepicker">

                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                    </mat-datepicker>
                </mat-form-field>
            </div>

        </div>

        <div class="form">
            <label class="title">Productos/Servicios</label>
        </div>

        <div class="content-form-item">
            <div class="form">
                <label class="title">Impuesto</label>
                <input class="form-data" type="text">
                <i class="fa-solid fa-hospital-user"></i>
            </div>

            <div class="form">
                <label class="title">Descuento</label>
                <input class="form-data" type="text">
                <i class="fa-solid fa-address-card"></i>
            </div>
        </div>

        <div class="content-form-item">
            <mat-form-field class="form">
                <mat-label>Descripcion</mat-label>
                <textarea matInput placeholder=""></textarea>
            </mat-form-field>
        </div>

        <div class="form-button">
            <button class="btn btn-danger" #btnEnviar>
                Cancelar
            </button>

            <button class="btn btn-primary" #btnEnviar>
                Guardar
            </button>
        </div>



    </form>
</div>


<!-- 
 public int NumFactura { get; set; } no va
 public DateTime Fecha_Emision { get; set; }
 public string Estado_Factura { get; set; }
 public string Tipo_Factura { get; set; }
 public bool TipoVenta { get; set; }
 public string Emisor { get; set; }
 public string Numero_Ruc { get; set; }
 public string Empresa_Asociada { get; set; }
 public string Cliente { get; set; }
 public decimal Impuesto { get; set; }
 public decimal Descuento { get; set; }
 public decimal? Subtotal { get; set; } null
 public decimal? Total { get; set; } null
 public string? Descripcion_Credito { get; set; } null


 public string? Paciente { get; set; } null
 public string? Observacion { get; set; } null
 public decimal? SPHIz { get; set; } null
 public decimal? CYLIz { get; set; } null
 public decimal? ADDIz { get; set; } null
 public int? EJEIz { get; set; } null
 public int? DPIz { get; set; } null
 public int? ALTIz { get; set; } null
 public decimal? SPHDe { get; set; } null
 public decimal? CYLDe { get; set; } null
 public decimal? ADDDe { get; set; } null
 public int? EJEDe { get; set; } null
 public int? DPDe { get; set; } null
 public int? ALTDe { get; set; } null
 -->