.mat-mdc-row:hover .mat-mdc-cell {
    border-color: #000;
    background: rgb(217, 170, 247, 0.7);
    cursor: pointer;

}

.class-btn-action {
    width: calc(100%);
    display: inline-block;
    text-align: right;
}

.btnUpdate {
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.active {
    background-color: #c26cf8;

    .mat-mdc-cell {
        color: #fff;
    }


}


.btn-danger {
    color: #fff;
    background: rgb(255, 0, 25);
}

.btn-primary-disable {
    color: #fff;
    background: rgb(11, 94, 215, 0.6);
}

.btn-primary{
    color: #fff;
    background: rgb(25, 120, 208);
    border-color: rgb(0, 174, 240);
  }

.mat-content-field {
    width: 100%;
    height: 4.5rem;
    padding-top: 0.3rem;

    .input {
        font-size: 15px;
    }

}