<app-view-data [ItemViewGrid]="customTemplate" [FormView]="formupdate" [ItemData]="data$"
    [columns]="tableColumnsInventory" [clickItems]="dataItems" [FormCreateView]="form"></app-view-data>



<ng-template #customTemplate let-data>
    <mat-card class="card-product" [ngClass]="itemClick=== data?'card-invoice-active':''"
    (click)="onItemClickActive(data)">
        
        <div class="container-card-product">
            <img class="img-card-product" [src]="imgItems(data.tipoProducto)">

            <div class="content-body-card-product">
                <h1 class="text-name-card-product">{{data.descripcion}}</h1>
                <span class="text-price-card-product">${{data.costo}}</span>
            </div>

            <div class="content-footer-card-product">
                <h2 class="text-type-card-product">{{data.tipoProducto}}</h2>
            </div>
        </div>
    </mat-card>
</ng-template>



<!-- <ng-template #customTemplate let-data>
    <mat-card class="card-product">
        <div class="container-card-product">

            <div class="content-body-card-product">
                <h1 class="text-name-card-product">{{data.descripcion}}</h1>
                <span class="text-price-card-product">${{data.precioVenta}}</span>
            </div>

            <div class="content-footer-card-product">
                <h2 class="text-type-card-product">{{data.tipoProducto}}</h2>
            </div>
        </div>
    </mat-card>
</ng-template> -->

<ng-template #form>
    <div class="container-form-create">
        <form class="content-form" [formGroup]="formCreate">
            <h1>Formulario Proveedor</h1>

            <div class="content-form-item">
                <div class="form">

                    <label class="title">Descripción del producto</label>
                    <input class="form-data" type="text" formControlName="descripcion" [matAutocomplete]="auto">

                    <i class="form-icon fa-solid fa-pencil"></i>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions  | async" [value]="option.descripcion"
                            style="font-family: 'Crimson Text', serif; color: black;">
                            {{option.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('descripcion').valid || (formGetCreate('descripcion').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Nombre de la Empresa</label>
                    <input class="form-data" type="text" formControlName="nombreEmpresa"
                        [matAutocomplete]="autoProveedor">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <mat-autocomplete #autoProveedor="matAutocomplete">
                        <mat-option *ngFor="let option of filteredProveedor  | async" [value]="option.nombre_Empresa"
                            style="font-family: 'Crimson Text', serif; color: black;">
                            {{option.nombre_Empresa}}
                        </mat-option>
                    </mat-autocomplete>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('nombreEmpresa').valid || (formGetCreate('nombreEmpresa').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Fecha de Adquisición</label>
                    <input class="form-data" type="text" formControlName="fechaAdquisicion">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('fechaAdquisicion').valid || (formGetCreate('fechaAdquisicion').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Costo</label>
                    <input class="form-data" type="text" formControlName="costo">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('costo').valid || (formGetCreate('costo').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Cantidad</label>
                    <input class="form-data" type="text" formControlName="cantidad">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('cantidad').valid || (formGetCreate('cantidad').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
            </div>
            <div class="form-button">
                <button class="btn btn-danger">Cancelar</button>

                <button class="btn btn-primary" (click)="saveDataConfirmed()" style="margin-left: 5rem;"
                    [disabled]="formCreate.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #formupdate>
    <div class="container-form-create">
        <form class="content-form" [formGroup]="formUpdate">
            <h1>Formulario Proveedor</h1>

            <div class="content-form-item">
                <div class="form">

                    <label class="title">Descripción del producto</label>
                    <input class="form-data" type="text" formControlName="descripcion" [matAutocomplete]="auto">

                    <i class="form-icon fa-solid fa-pencil"></i>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions  | async" [value]="option.descripcion"
                            style="font-family: 'Crimson Text', serif; color: black;">
                            {{option.descripcion}}
                        </mat-option>
                    </mat-autocomplete>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('descripcion').valid || (formGetCreate('descripcion').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Nombre de la Empresa</label>
                    <input class="form-data" type="text" formControlName="nombreEmpresa"
                        [matAutocomplete]="autoProveedor">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <mat-autocomplete #autoProveedor="matAutocomplete">
                        <mat-option *ngFor="let option of filteredProveedor  | async" [value]="option.nombre_Empresa"
                            style="font-family: 'Crimson Text', serif; color: black;">
                            {{option.nombre_Empresa}}
                        </mat-option>
                    </mat-autocomplete>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('nombreEmpresa').valid || (formGetCreate('nombreEmpresa').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Fecha de Adquisición</label>
                    <input class="form-data" type="text" formControlName="fechaAdquisicion">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('fechaAdquisicion').valid || (formGetCreate('fechaAdquisicion').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
                <div class="form">
                    <label class="title">Costo</label>
                    <input class="form-data" type="text" formControlName="costo">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('costo').valid || (formGetCreate('costo').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>

            </div>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">Cantidad</label>
                    <input class="form-data" type="text" formControlName="cantidad">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('cantidad').valid || (formGetCreate('cantidad').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>

                <div class="form">
                    <label class="title">Estado</label>
                    <input class="form-data" type="text" formControlName="estado" [matAutocomplete]="autoEstado">
                    <i class="form-icon fa-solid fa-pencil"></i>
                    <mat-autocomplete #autoEstado="matAutocomplete">
                        <mat-option *ngFor="let option of filteredStatus  | async" [value]="option"
                            style="font-family: 'Crimson Text', serif; color: black;">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                    <div class="alert alert-danger mt-1"
                        [hidden]="formGetCreate('cantidad').valid || (formGetCreate('cantidad').pristine)">
                        El campo no puede estar Vacio.
                    </div>
                </div>
            </div>

            <div class="form-button">
                <button class="btn btn-danger">Cancelar</button>

                <button class="btn btn-primary" style="margin-left: 5rem;" (click)="saveDataConfirmedUpdate()"
                    [disabled]="formUpdate.invalid">Guardar</button>
            </div>
        </form>
    </div>
</ng-template>