<!-- <app-view-data [ItemViewGrid]="customTemplate" [ItemData]="data"></app-view-data> -->




<!-- <ng-template #customTemplate let-data>
    <mat-card class="example-card">
        <div class="container">
            <h1 class="name">{{data.nombre}}</h1>
            <div class="content">
                <h2>{{data.cedula}}</h2>
                <div>
                    <h3>{{data.edad}}</h3>
                </div>
            </div>
            <h3 class="address">{{data.direccion}}</h3>
        </div>
    </mat-card>
</ng-template> -->

