
<div class="container-form">
    <form class="content-form">
      <h1>Agregar Registro</h1>
  
      <div class="content-form-item">
        <div class="form">
          <label class="title">Codigo</label> 
          <input class="form-data" type="text" >
        </div>
  
        <div class="form">
          <label class="title">Descripcion</label>
          <input class="form-data" type="text" >
        </div>
      </div>
  
      <div class="content-form-item">
        <div class="form">
          <label class="title">Empresa</label>
          <input class="form-data" type="text" >
        </div>
  
        <div class="form">
          <label class="title">Fecha</label>
          <input  class="form-data" type="text">
        </div>
  
        <div class="form">
          <label class="title">Costo</label>
          <input  class="form-data" type="text" >
        </div>
      </div>
  
      <div class="content-form-item">
        <div class="form">
          <label class="title">Cantidad</label>
          <input  class="form-data" type="text">
        </div>
  
      </div>
  
      <div class="form-button">
        <button class="btn btn-danger" >Cancelar</button>
  
        <button class="btn btn-primary" (click)="onSubmit()">Guardar</button>
      </div>
    </form>
  </div>