<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="container-title">
                <h1 class="title">{{setTitle(this.router.url.slice(1))}}</h1>
            </div>
        </div>

        <div class="head-content-right">
            <div class="head-menu">
                <!-- <div class="head-user-avatar-container">
                    <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()">
                        <img src="../../assets/images/man.png" alt="user-avatar" class="user-avatar">
                        <div class="circle-indicador pulse"></div>
                    </div>
                </div> -->

                <div class="head-notification"*akoShowForRoles="roleNotification" matTooltip="Notificaciones" 
                [cdkMenuTriggerFor]="notification" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()">
                    <i class="icon-notification fa-regular fa-bell" ></i>
                    <div *ngIf="notificationItems" class="circle-indicador pulse">
                        {{iconNotificacion()}}
                    </div>
                </div>

                <div class="head-user-logout">
                    <i class="door fa-solid" [ngClass]="classIconLogout()" (mouseover)="iconLogout=!iconLogout"
                        (mouseout)="iconLogout=!iconLogout" (click)="clickLogout()" matTooltip="Cerrar Sesión"></i>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
        <ul class="ul">
            <li class="li">
                <a class="a" routerLink="/ayuda">
                    <i class="icon fa-solid fa-circle-info"></i>
                    <span>Ayuda</span>
                </a>
            </li>
            <li class="li">
                <a (click)="OnclickLogout()">
                    <i class="icon" [ngClass]="iconClassLogout"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>

        </ul>
    </div>
</ng-template>

<ng-template #notification>
    <div class="overlay overlay-notification overlay-fall" cdkMenu>
        <div class="notification-container">
            <div class="notification-header">
                <img class="notification-header-img" src="https://cdn-icons-png.flaticon.com/512/4114/4114739.png" alt="dog">
                <h1 class="notification-header-title">Notificaciones</h1>
            </div>
            <ul class="notification-nav-item" *ngFor="let data of notificationItems">
                <li class="notification-nav-li">
                    <a class="notificacion-nav-a">
                        <i class="notificacion-icon fa-solid fa-triangle-exclamation"></i>
                        <span class="notification-text">El producto {{data.codProducto}} ha alcanzado el nivel mínimo de existencias.</span>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</ng-template>