<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="container-title">
                <h1 class="title">{{title}}</h1>
            </div>
        </div>

        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-user-avatar-container">
                    <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()">
                        <img src="../../assets/images/man.png" alt="user-avatar" class="user-avatar">
                        <div class="circle-indicador pulse"></div>
                    </div>
                </div>

                <div class="head-user-logout">
                    <i class="door fa-solid" [ngClass]="classIconLogout()" 
                    (mouseover)="iconLogout=!iconLogout"
                    (mouseout)="iconLogout=!iconLogout"
                    (click)="clickLogout()"
                    matTooltip="Cerrar Sesión" ></i>
                </div>

            </div>
        </div>
    </div>
</div>


<ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu >
        <ul class="ul">
            <li class="li">
                <a class="a" routerLink="/ayuda">
                    <i class="icon fa-solid fa-circle-info" ></i>
                    <span>Ayuda</span>
                </a>
            </li>
            <li class="li">
                <a (click)="OnclickLogout()">
                    <i class="icon" [ngClass]="iconClassLogout"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
            
        </ul>
    </div>
</ng-template>