.head {
    width: calc(100% - 6rem);
    margin-left: 6rem;
    z-index: 1;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 1rem 1.5rem 0 1.5rem;

    position: fixed;
    top: 0;

    .head-content {
        background-color: #fff;
        border-radius: 0.625rem;
        box-shadow: 0px 0px 10px 0 rgb(34 41 47);
        padding: 0.813rem 1.563rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .head-content-left {
            .search-container {
                position: relative;

                .normal-search {
                    .search {
                        border: none;
                        height: 2.375rem;
                        padding-left: 2.5rem;
                        padding-right: 1.25rem;
                        background-color: #f3f3f9;
                        box-shadow: none;
                        border-radius: 1.875rem;
                        outline: 0;
                    }

                    .search-icon {
                        position: absolute;
                        font-size: 1rem;
                        line-height: 2.375rem;
                        left: 0.813rem;
                        top: 0.7rem;
                        color: #74788d
                    }
                }

                .search-menu-btn {
                    font-size: 18px;
                    height: 42px;
                    width: 42px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    outline: 0;
                }

                .search--menu-btn:hover,
                .search--menu-btn:focus {
                    .search-icon {
                        color: #699dfa;
                    }
                }
            }
        }

        .head-content-right {
            display: flex;
            align-items: center;

            .head-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1.25rem;


                .head-menu-item {

                    .head-btn {
                        padding: 0 1rem 0 1rem;
                        font-size: 8px;
                        /* border-radius: 2rem 0 0 2rem; */
                    }

                    .head-btn-left {
                        border-radius: 0.5rem 0 0 0.5rem;
                    }

                    .head-btn-rigth {
                        border-radius: 0 0.5rem 0.5rem 0;
                    }


                    .head-menu-item-btn {

                        font-size: 16px;
                        height: 42px;
                        cursor: pointer;
                        border: 1px solid transparent;
                        outline: 0;
                        /* color: #495057; */
                    }

                    .head-menu-item-btn:hover {
                        background-color: rgb(149, 45, 212);
                        /* background-color: #7245d3; */
                        color: #fff;
                    }
                }


            }

            .head-user-avatar-container {
                margin-left: 20px;

                .head-user-avatar {
                    position: relative;

                    .user-avatar {
                        margin-bottom: -4px;
                        width: 50px;
                        border-radius: 10px;
                        box-shadow: 0 0 15px rgb(53, 35, 35/15%);
                        cursor: pointer;
                        font-style: bold;
                    }

                    .circle-indicador {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        top: -2px;
                        right: -3px;
                        background: #7245d3;

                        &.pulse {
                            animation: pulse-animation 1.2s infinite;
                        }
                    }


                }
            }

            .head-user-logout {
                margin: 0 20px;

                .door {
                    font-size: 20px;
                    background-image: linear-gradient(to bottom,#9d5732,#9d5732, #320000 );
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }

            .head-user-logout i {
                transition: all 0.3s ease;
            }

            .head-user-logout:hover {
                cursor: pointer;

            }
        }
    }
}


.head-trimmed {
    width: calc(100% - 18.5625rem);
    margin-left: 18.5625rem;
}

.head-md-screen {
    width: calc(100% - 6rem);
    margin-left: 6rem;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(26, 104, 206, 0.6);
    }

    100% {
        box-shadow: 0 0 0 13px rgba(17, 64, 126, 0);
    }
}

@keyframes fall {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes btn-active {
    0% {
        box-shadow: 0 0 0 0 rgba(149, 45, 212, 0.6);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(17, 64, 126, 0);
    }
}

.active {
    background: #b135ff;
    color: #fff;
    animation: btn-active 2s infinite;
}

.no-active {
    background: #eff2f3;
    color: #495057;
}

.overlay {
    background: #fff;
    left: 100%;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0/18%);
    border-radius: 0.25rem;
}

.overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin: top center;
}

.overlay-search {
    padding: 1rem;
    display: flex;

    .search {
        padding: 0.47rem 0.75rem;
        font-size: 0.8125;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        outline: none;
        border-radius: 0.25rem;
    }

    .search-btn {
        color: #fff;
        background-color: #7245d3;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 0.47rem 0.75rem;
        border-radius: 0.25rem;
    }
}

.overlay-user {
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 10px 0 rgb(118, 127, 134);

    .ul {
        padding: 0.5rem 0;
        list-style: none;
        width: 10 rem;

        .li {
            padding: 0.35rem 1.2rem;
            font-size: 14px;
            font-weight: 400;
            color: #495057;
            cursor: pointer;

            .icon {
                margin-right: 0.6rem;

            }

            .a {
                border-style: none;
                color: #495057;
                text-decoration: none;
            }

            .span:hover {
                color: #495057;
            }

            .default-icon:before {
                content: "\f007";
                /* Icono inicial */
                color: #7245d3;
            }

            .fas {
                font-size: 1.5rem;
            }

            .fa-star:before {
                content: "\f005";
            }

            .fa-heart:before {
                content: "\f004";
            }
        }

        .li:hover {
            background: #eff2f3;

            .hover-icon:before {
                content: "\f006";
                /* Icono al pasar el mouse */
                color: #699dfa;

            }
        }

    }
}