<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container" *ngIf="getEventBtnClick()">
                <div  *ngIf="!canShowSearchAsOverlay" class="normal-search">
                    
                    <!-- <input 
                        matInput
                        [(ngModel)]="headerText"
                        (keyup)="getHeaderText($event)"
                        type="search"
                        class="search" name="" id=""
                        placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass search-icon" ></i> -->
 
                </div>
                <div *ngIf="canShowSearchAsOverlay">
                    <button 
                    [cdkMenuTriggerFor]="searchOverlay"
                    class="search-menu-btn ripple">
                        <i class="fa-solid fa-magnifying-glass search-icon"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="head-content-right">
            <div class="head-menu">
                <div class="head-menu-item btn-group">
                        <button type="button" 
                            class="head-btn head-btn-left btn-secondary head-menu-item-btn"
                            [ngClass]="getBtnClick('left')"
                            (click)="setBtnClick('left')">Tablas</button>
                        <button type="button" 
                            class="head-btn head-btn-rigth btn-secondary head-menu-item-btn"
                            [ngClass]="getBtnClick('rigth')"
                            (click)="setBtnClick('rigth')">Agregar</button>
                </div>

                <div class="head-user-avatar-container">
                    <div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay" (menuOpened)="onMenuOpened()" (menuClosed)="onMenuClosed()">
                        <img src="../../assets/images/man.png" alt="user-avatar" class="user-avatar">
                        <div class="circle-indicador pulse"></div>
                    </div>
                </div>

                <div class="head-user-logout">
                    <i class="door fa-solid" [ngClass]="classIconLogout()" 
                    (mouseover)="iconLogout=!iconLogout"
                    (mouseout)="iconLogout=!iconLogout"
                    (click)="clickLogout()"
                    matTooltip="Cerrar Sesión" ></i>
                </div>

            </div>
        </div>
    </div>
</div>

<ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall" cdkMenu>
        <input type="search" class="search" placeholder="Search...">
        <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass search-icon"></i>
        </button>
    </div>
</ng-template>

<ng-template #userOverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu >
        <ul class="ul">
            <li class="li">
                <a class="a" routerLink="/ayuda">
                    <i class="icon fa-solid fa-circle-info" ></i>
                    <span>Ayuda</span>
                </a>
            </li>
            <li class="li">
                <a (click)="OnclickLogout()">
                    <i class="icon" [ngClass]="iconClassLogout"></i>
                    <span>Cerrar sesión</span>
                </a>
            </li>
            
        </ul>
    </div>
</ng-template>