.head {
    width: calc(100% - 5rem);
    margin-left: 5rem;
    z-index: 1;
    transition: all .5s ease;
    background: rgb(245, 247, 251);
    padding: 1rem 1.5rem 0 1.5rem;
    /* padding: 0.5rem 0.5rem 0 0.5rem; */
    position: fixed;
    top: 0;

    .head-content {
        background-color: #fff;
        border-radius: 0.625rem;
        box-shadow: 0px 0px 10px 0 rgba(52, 131, 235, 0.392);
        padding: 0.813rem 1.563rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .head-content-left {
            display: flex;
            align-items: center;

            .container-title {
                height: calc(100%);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .title {
                    height: 1rem;
                    text-align: center;
                    color: #302e3d;
                    font-family: 'Crimson Text', serif;
                    font-weight: 600;
                    font-size: 30px;
                }
            }

            /* .search-container {
                position: relative;

                .normal-search {
                    .search {
                        border: none;
                        height: 2.375rem;
                        padding-left: 2.5rem;
                        padding-right: 1.25rem;
                        background-color: #fff;
                        box-shadow: none;
                        border-radius: 1.875rem;
                        outline: 0;
                    }

                    .search-icon {
                        position: absolute;
                        font-size: 1rem;
                        line-height: 2.375rem;
                        left: 0.813rem;
                        top: 0.7rem;
                        color: #74788d
                    }
                }

                .search-menu-btn {
                    font-size: 18px;
                    height: 42px;
                    width: 42px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    outline: 0;
                }

                .search--menu-btn:hover,
                .search--menu-btn:focus {
                    .search-icon {
                        color: #699dfa;
                    }
                }
            } */
        }

        .head-content-right {
            display: flex;
            align-items: center;

            .head-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1.25rem;


                .head-menu-item {

                    .head-btn {
                        padding: 0 1rem 0 1rem;
                        font-size: 8px;
                        /* border-radius: 2rem 0 0 2rem; */
                    }

                    .head-btn-left {
                        border-radius: 0.5rem 0 0 0.5rem;
                    }

                    .head-btn-rigth {
                        border-radius: 0 0.5rem 0.5rem 0;
                    }


                    .head-menu-item-btn {

                        font-size: 16px;
                        height: 42px;
                        cursor: pointer;
                        border: 1px solid transparent;
                        outline: 0;
                        /* color: #495057; */
                    }

                    .head-menu-item-btn:hover {
                        background-color: rgb(149, 45, 212);
                        /* background-color: #7245d3; */
                        color: #fff;
                    }
                }


            }

            .head-user-avatar-container {
                margin-left: 20px;

                .head-user-avatar {
                    position: relative;

                    .user-avatar {
                        margin-bottom: -4px;
                        width: 50px;
                        border-radius: 10px;
                        box-shadow: 0 0 15px rgb(53, 35, 35/15%);
                        cursor: pointer;
                        font-style: bold;
                    }

                    .circle-indicador {
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        position: absolute;
                        top: -2px;
                        right: -3px;
                        background: #7245d3;

                        &.pulse {
                            animation: pulse-animation 1.2s infinite;
                        }
                    }


                }
            }

            .head-user-logout {

                margin: 0 20px;

                .door {
                    font-size: 25px;
                    background-image: linear-gradient(to bottom, #9d5732, #9d5732, #320000);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                    content: "\e367";
                }
            }

            .head-user-logout i {
                transition: all 0.3s ease;
            }

            .head-user-logout:hover {
                cursor: pointer;

            }

            .head-notification {
                position: relative;
                height: calc(100%);
                cursor: pointer;
                /* margin: 0 10px; */

                .icon-notification {
                    font-size: 25px;
                    color: #000;
                }

                .icon-notification-disable {
                    font-size: 25px;
                    color: #00000092;
                }

                .circle-indicador {
                    /* width: 18px;
                    height: 15px;
                    border-radius: 47%;
                    position: absolute;
                    top: 1px;
                    right: -5px;
                    background: #c00;

                    display: flex;
                    justify-content: center;
                    align-items: center ; 

                    &.pulse {
                        animation: pulse-animation-notification 1.2s infinite;
                    } */
                    position: absolute;
                    padding: 0 4px;
                    background-color: #c00;
                    color: #fff;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    /* border: 1px solid #212121; */
                    border-radius: 20px;
                    height: 16px;
                    font-size: 12px;
                    font-weight: 600;
                    font-family: 'lato', serif;
                    top: 0.1px;
                    left: 11px;

                    /* 
                    top: -4px;
                    left: 12px;
                    display: inline-block;
                    padding: 0 4px;
                    min-width: 8px;
                    max-width: 18px;
                    height: 16px;
                    border: 1px solid #212121;
                    border-radius: 22px;
                    text-align: center;
                    font-family: "Roboto", "Arial", sans-serif;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px; */
                }

            }


        }
    }
}


.head-trimmed {
    width: calc(100% - 18.5625rem);
    margin-left: 18.5625rem;
}

.head-md-screen {
    width: calc(100% - 6rem);
    margin-left: 6rem;
}

@keyframes pulse-animation-notification {
    0% {
        box-shadow: 0 0 0 0 #c45050;
    }

    100% {
        box-shadow: 0 0 0 6px rgba(17, 64, 126, 0);
    }
}



@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(26, 104, 206, 0.6);
    }

    100% {
        box-shadow: 0 0 0 13px rgba(17, 64, 126, 0);
    }
}

@keyframes fall {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes btn-active {
    0% {
        box-shadow: 0 0 0 0 rgba(149, 45, 212, 0.6);
    }

    100% {
        box-shadow: 0 0 0 5px rgba(17, 64, 126, 0);
    }
}



/*NOTIFICATION CODE CDK MENU*/

.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100%);
    margin-bottom: 0.8rem;
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
    visibility: visible;
}

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
    transition: visibility 0.2s 0.2s;
}

/* works on chrome, edge and safari */
.scrollwrap::-webkit-scrollbar {
    width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
    background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #556268;
    border-radius: 20px;
}

/* works on firefox */
.scrollwrap {
    scrollbar-width: thin;
    scrollbar-color: #556268 transparent;
}

.overlay-notification {
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 10px 0 rgb(118, 127, 134);

    .notification-container {
        height: auto;
        max-height: 642px;
        max-width: 480px;
        overflow-y: auto;

        .notification-header {
            width: calc(100%);
            height: 3rem;
            border-bottom: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 1rem;

            .example-header-image {

                background-image: url('https://cdn-icons-png.flaticon.com/512/4114/4114739.png');
                background-size: cover;

            }

            .notification-header-img{
                width: 2.5rem;
            }

            .notification-header-title{
                text-align: center;
                font-size: 24px;
                font-family: 'Archivo Narrow', sans-serif;
                font-weight: 700;
                margin: 0 0 0 1rem;
            }
        }

        .notification-nav-item {
            padding: 0.5rem 0 0.2rem 0;
            list-style: none;
            /* width: 10 rem; */

            .notification-nav-li {
                padding: 0.35rem 1.2rem;
                font-size: 14px;
                font-weight: 400;
                /* background: #4950573d; */
                cursor: pointer;

                .notificacion-nav-a {
                    border-style: none;
                    color: #495057;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .notificacion-icon {
                        font-size: 28px;
                        color: rgb(255, 1, 0);
                        margin-right: 1rem;
                    }

                    .notification-text {
                        font-size: 16px;
                        font-family: 'Crimson Text', serif;
                        font-weight: 700;
                        text-align: start;
                        color: #000;
                    }
                }
            }

            .notification-nav-li:hover {
                background-color: #bbb8b84c;
                /* border: 1px solid rgb(25, 120, 208); */
            }
        }
    }
}

.notification-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

}

/**/




.active {
    background: #b135ff;
    color: #fff;
    animation: btn-active 2s infinite;
}

.no-active {
    background: #eff2f3;
    color: #495057;
}

.overlay {
    background: #fff;
    /* right: 100%; */
    left: 100%;
    box-shadow: 0 1rem 3rem rgb(0, 0, 0/18%);
    border-radius: 0.25rem;
}

.overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin: top center;
}


.overlay-user {
    margin-top: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 10px 0 rgb(118, 127, 134);

    .ul {
        padding: 0.5rem 0;
        list-style: none;
        width: 10 rem;

        .li {
            padding: 0.35rem 1.2rem;
            font-size: 14px;
            font-weight: 400;
            color: #495057;
            cursor: pointer;

            .icon {
                margin-right: 0.6rem;

            }

            .a {
                border-style: none;
                color: #495057;
                text-decoration: none;
            }

            .span:hover {
                color: #495057;
            }

            .default-icon:before {
                content: "\f007";
                /* Icono inicial */
                color: #7245d3;
            }

            .fas {
                font-size: 1.5rem;
            }

            .fa-star:before {
                content: "\f005";
            }

            .fa-heart:before {
                content: "\f004";
            }
        }

        .li:hover {
            background: #eff2f3;

            .hover-icon:before {
                content: "\f006";
                /* Icono al pasar el mouse */
                color: #699dfa;

            }
        }

    }
}