<div style="width: calc(100%); height: calc(100%); display: flex; justify-content: center; align-items: center;">
    <div style="margin: 10px;
    padding: 10px;
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;">

        <form name="loginForm" [formGroup]="loginForm" style="width: calc(100%);">



            <h1 style=" width: calc(100%);
        text-align: center;
        font-family: 'Crimson Text', serif; font-weight: 600;
        font-size: 24px;"> Cambio de contraseña</h1>

            <!-- <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="basic-addon1" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
        </div> -->

            <mat-form-field class="input-group mb-3" appearance="outline" style="width: calc(100%);">
                <mat-label style="font-family: 'Crimson Text', serif; font-weight: 900;">Nueva Contraseña</mat-label>
                <input formControlName="newPassword" matInput [type]=" hide ? 'password' : 'text'" required
                    name="newPassword" [(ngModel)]="password" style="font-family: 'Crimson Text', serif;" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-error *ngIf="!loginForm.controls['newPassword'].valid">
                    La contraseña es requerida
                </mat-error>
            </mat-form-field>

            <mat-form-field class="input-group mb-3" appearance="outline" style="width: calc(100%);">
                <mat-label style="font-family: 'Crimson Text', serif; font-weight: 900;">Confirmacion de Contraseña</mat-label>
                <input formControlName="ConfirmPassword" matInput [type]=" hide ? 'password' : 'text'" required
                    name="ConfirmPassword" [(ngModel)]="password2" style="font-family: 'Crimson Text', serif;" />
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
                <mat-error *ngIf="!loginForm.controls['ConfirmPassword'].valid">
                    La contraseña es requerida
                </mat-error>
            </mat-form-field>


            <div style="display: flex; width: calc(100%); align-items: center; justify-content: flex-end;">
                <button class="btn btn-outline-success" [disabled]="loginForm.invalid" (click)="sendResetEmail(password)">Enviar</button>
            </div>

        </form>
    </div>
</div>