.mat-mdc-row:hover .mat-mdc-cell {
    /* border-color: currentColor; */
    border-color: #000;
    background: rgb(173, 226, 249);
    color: #000;
    /* color: #ffffff; */
    cursor: pointer;
    
  }
  
  .class-btn-action {
    width: calc(100%);
    display: inline-block;
    text-align: right;
    /* align-items: flex-end; */
    /* justify-content: space-between; */
  }
  
  .btnUpdate {
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .active {
    background-color: #00AEF0;
  
    .mat-mdc-cell{
      color: #fff;
    }
    /* .menu-collapse-icon,
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #ffffff;
    } */
  }
  
  
  .btn-danger-disable {
    color: #fff;
    background: rgb(187, 45, 59, 0.5);
  }
  
  .btn-primary-disable {
    color: #fff;
    background: rgb(11, 94, 215, 0.6);
  }

  .btn-primary{
    color: #fff;
    background: rgb(25, 120, 208);
    border-color: rgb(0, 174, 240);
  }
  
  .btn-info-disable{
    color: #fff;
    background: rgba(12, 141, 0, 0.6);;
  }
  
  .btn-info{
    color: #fff;
    background: rgb(12, 141, 0);
    border-color: #23cf00;
  
  }