<app-view-data
  [ItemData]="data$"
  [columns]="tableColumnsExamen"
  [ItemViewGrid]="item"
  [FormCreateView]="formcreate"
  [FormView]="formUpdate"
  [FormInfoView]="itemInfo"
></app-view-data>

<ng-template #formUpdate>
</ng-template>

<ng-template #formcreate>
    <mat-stepper labelPosition="bottom" linear #stepper>
        <mat-step [editable]="true">
          <ng-template matStepLabel>Información del Paciente</ng-template>
          <div class="container-form-create">
            <form class="content-form" [formGroup]="formCreateEyeExam">
              <div class="content-form-item">
                <mat-form-field>
                  <mat-label>Empleado</mat-label>
                  <mat-select
                    [(ngModel)]="itemCreate.numEmpleado"
                    formControlName="numEmpleado"
                  >
                    <mat-option
                      *ngFor="let option of employeeList"
                      [value]="option.numEmpleado"
                    >
                      {{ option.numEmpleado }} - {{ option.nombres }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>Paciente</mat-label>
                  <mat-select
                    [(ngModel)]="itemCreate.codigo_Cliente"
                    formControlName="codigo_Cliente"
                  >
                    <mat-option
                      *ngFor="let option of customerList"
                      [value]="option.codigo_Cliente"
                    >
                      {{ option.codigo_Cliente }} - {{ option.nombres }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    
                <div class="form">
                  <mat-form-field class="form-field-date">
                    <mat-label class="title">Fecha de realización</mat-label>
                    <input
                      matInput
                      [matDatepicker]="datepicker"
                      formControlName="fecha_Realizacion"
                      [(ngModel)]="itemCreate.fecha_Realizacion"
                    />
    
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="datepicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datepicker> </mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form">
                  <label class="title">Estado*</label>
                  <input
                    class="form-data"
                    type="text"
                    formControlName="estado"
                    [matAutocomplete]="auto"
                    [(ngModel)]="itemCreate.estado"
                  />
                  <i class="form-icon fa-solid fa-chevron-down"></i>
    
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                    <mat-option
                      *ngFor="let option of listStatus | async"
                      [value]="option.value"
                      style="font-family: 'Crimson Text', serif; color: black"
                    >
                      {{ option.title }}
                    </mat-option>
                  </mat-autocomplete>
                  <div
                    class="alert alert-danger mt-1"
                    [hidden]="formGet('estado').valid || formGet('estado').pristine"
                  >
                    El campo no puede estar Vacio.
                  </div>
                </div>
              </div>
            </form>
            <div
              class="form-button"
              style="width: calc(100%); display: flex; justify-content: flex-end"
            >
              <button
                class="btn btn-primary"
                style="margin-right: 1rem; font-family: 'lato', sans-serif"
                (click)="onNext(stepper)"
              >
                Siguiente
                <i class="fa-solid fa-arrow-right" style="margin-left: 0.4rem"></i>
              </button>
            </div>
          </div>
        </mat-step>
        <mat-step [editable]="true">
          <ng-template matStepLabel>Preescripción</ng-template>
          <form class="content-form" [formGroup]="formCreateEyeExam">
            <div class="content-form-item">
              <table [dataSource]="parameters" mat-table>
                <ng-container matColumnDef="data">
                  <th mat-header-cell *matHeaderCellDef>Medida</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.data }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="title1">
                  <th mat-header-cell *matHeaderCellDef>Ojo Izquierdo</th>
                  <td mat-cell *matCellDef="let element">
                    <input
                      min="-10"
                      max="10"
                      class="form-data"
                      type="number"
                      [formControlName]="element.data + 'Iz'"
                    />
                  </td>
                </ng-container>
                <ng-container matColumnDef="title2">
                  <th mat-header-cell *matHeaderCellDef>Ojo Derecho</th>
                  <td mat-cell *matCellDef="let element">
                    <input
                      min="-10"
                      max="10"
                      class="form-data"
                      type="number"
                      [formControlName]="element.data + 'De'"
                    />
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
            <div class="content-form-item" style="width: 100%">
              <label class="title">Observacion</label>
              <input
                matInput
                class="form-data"
                type="text"
                formControlName="observacion"
                rows="4"
                [(ngModel)]="itemCreate.observacion"
              />
            </div>
          </form>
    
          <div
            class="form-button"
            style="
              width: calc(100%);
              display: flex;
              justify-content: flex-end;
              margin-top: 1rem;
            "
          >
            <button
              class="btn btn-primary"
              style="margin-right: 1rem; font-family: 'lato', sans-serif"
              (click)="stepper.reset()"
            >
              <i class="fa-solid fa-arrow-left" style="margin-left: 0.4rem"></i>
              Atras
            </button>
            <button
              class="btn btn-primary"
              style="margin-right: 1rem; font-family: 'lato', sans-serif"
              #btnEnviar
              (click)="saveEyeExam()"
            >
              Guardar
              <i class="fa-solid fa-save" style="margin-left: 0.4rem"></i>
            </button>
          </div>
        </mat-step>
      </mat-stepper>

</ng-template>

<ng-template #item let-data> </ng-template>

<ng-template #itemInfo> </ng-template>
