<div class="container" *ngIf="itemData$.length>0">
  <div class="header-content">
    <div class="header-search">
      <div class="normal-search">
        <input matInput type="search" class="search" name="" id="" placeholder="Search...">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
      </div>
    </div>

    <div class="header-icon">
      <i class="icon fa-regular fa-square-plus" (click)="openDialogWithTemplate(formCreate,formCreateView)"></i>
      <i class="icon fa-solid " [ngClass]="setTypeViewIcon()" (click)="setTypeView()"></i>
    </div>
  </div>

  <div class="content">
    <div class="container-grid-items" *ngIf="!typeViewIcon">
      <div [ngClass]="setClassItems()">
        <div class="row">
          <ng-container *ngFor="let item of itemData$; let i = index">
            <div [ngClass]="getColSize(i)" class="mb-3">
              <ng-container *ngTemplateOutlet="itemViewGrid; context: { $implicit: item }"></ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="content-form" *ngIf="valFormularioGrip">
        <div class="content-btn">
          <button class="btn" (click)="openDialogWithTemplate(formInfo,formInfoView)" 
          style="
          width: 8.5rem;
          margin-right: 
          0.3rem; color: #fff;
          background: rgb(12, 141, 0);
          ">
            <i class="fa-solid fa-info"></i>
            Informacion
          </button>
          <button class="btn" (click)="cancelForm()">
            <i class="fa-regular fa-circle-xmark"></i>
            Cerrar
          </button>
        </div>
        <div class="Content-content-form">
          <ng-container *ngTemplateOutlet="formView; context: { $implicit: item }" ></ng-container>
        </div>
      </div>
    </div>


    <div *ngIf="typeViewIcon">
      <app-table [data]="itemData$" 
      [columns]="tableColumns" 
      [buttonShowInfo]="btnInfo"
      [buttonShowDelete]="btnDelete" 
      (selectItemsCell)="valFormTablet()"
      (selectItemsCellInfo)="openDialogWithTemplate(formInfo,formInfoView)"
       ></app-table>

      <mat-divider></mat-divider>

      <div class="content-form-table" *ngIf="valFomularioTable" id="formulario-table">
        <div class="content-btn-table">
          <button class="btn-table" (click)="cancelForm()">
            <i class="fa-regular fa-circle-xmark"></i>
            Cerrar
          </button>
        </div>

        <div class="Content-content-form-table">
          <ng-container *ngTemplateOutlet="formView" ></ng-container>
        </div>

      </div>

    </div>

  </div>
</div>

<div *ngIf="itemData$.length === 0">
  <div class="container-card">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Asistente Virtual</mat-card-title>
        <mat-card-subtitle>Engineer Dog</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="contentt">
        <img class="emoji" mat-card-image src="https://cdn-icons-png.flaticon.com/512/742/742753.png" alt="Error">
        <p>
          Error al cargar los datos
        </p>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>



<ng-template #formCreate>
  <div *ngIf="formCreateView" class="container-template">
    <ng-container *ngTemplateOutlet="formCreateView" ></ng-container>
  </div>
</ng-template>

<ng-template #formInfo>
  <div *ngIf="formInfoView != null; else val" class="container-template">
    <ng-container *ngTemplateOutlet="formInfoView; context: { $implicit: item }" ></ng-container>
  </div>
</ng-template>

<ng-template #val>
  {{ viewFormNull() }}
</ng-template>