

/* *{
    width: calc(100%);
    height: calc(100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.container{
    width: calc(100%);
    height: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    height: calc(100%);
}

.container-content {
    margin: 10px;
    padding: 10px;
    display: flex;
    width: calc(100%);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
} 

.container-content-rigth{
    width: calc(100%);
    display: flex;
    flex-direction: column;
    height: calc(100%);
    justify-content: space-between;
}

.profile-card{
    /* grid-row: span 2; */
    /* grid-column: span 2; */
    display: flex;
    align-items: center;
}

.content-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.content-text{
    width: calc(100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 3px 0 3px 0 ;
}

.text{
    width: calc(100%);
    text-align: center;
    font-family: 'Crimson Text', serif; font-weight: 600;
    font-size: 16px;
}

.search {
    border: 1px solid #d7d7d7;
    height: 2.375rem;
    padding-left: 2.5rem;
    padding-right: 1.25rem;
    background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 1rem;
    outline: 0;
  }

