<div class="container-profile" >
    <div class="content-header-profile">
        <h1 class="header-name-profile">{{itemUser.nombres }}</h1>
        <div class="content-rigt-profile">
            <h3 class="header-id-profile"></h3>
            <button class="edit-profile"></button>
        </div>
    </div>
    <div class="content-body-profile">
        <div class="block-header-profile">
            <h2 class="block-header-title-profile"> Información basica</h2>
        </div>
        <div class="content-content-body-profile">
            <img src="" alt="" class="img-profile">
            <div class="content-info-profile">
                <div class="block-header-profile">
                    <h2 class="block-header-title-profile">Información de Usuario</h2>
                </div>
                <div class="info-profile">
                    <span class="info-text-profile"><strong></strong></span>
                    <span class="info-text-profile"></span>
                </div>
                <div class="info-profile">
                    <span class="info-text-profile"><strong></strong></span>
                    <span class="info-text-profile"></span>
                </div>
                <div class="info-profile">
                    <span class="info-text-profile"><strong></strong></span>
                    <span class="info-text-profile"></span>
                </div>
                <div class="block-header-profile">
                    <h2 class="block-header-title-profile">Información de Empleado</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content-contact-profile">
        <div class="block-header-profile">
            <h2 class="block-header-title-profile">Información de contacto</h2>
        </div>
        <div class="info-profile">
            <span class="info-text-profile"><strong></strong></span>
            <span class="info-text-profile"></span>
        </div>
        <div class="info-profile">
            <span class="info-text-profile"><strong></strong></span>
            <span class="info-text-profile"></span>
        </div>


    </div>
</div>

<ng-container [ngTemplateOutlet]="itemInfo"></ng-container>


<ng-template #itemInfo>
    <div>
        a
        {{itemUser.nombres }}
    </div>
</ng-template>
