.example-card {
    max-width: 400px;
    margin-bottom: 8px;
}

.card-product{
    max-width: 400px;
    margin-bottom: 8px;
    border-radius: 0.5rem;
    .container-card-product{
        display: flex;
        flex-direction: column;
        width: calc(100%);
        .img-card-product{
            width: auto;
            border-radius: 0.5rem 0.5rem  0 0;
            border: 1px solid #1978d06d;
        }

        .content-body-card-product{
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            /* align-items: center; */
            

            .text-name-card-product{
                color: #000000;
                font-family: 'Crimson Text', serif;
                font-weight: 800;
                font-size: 17px;
                padding: 0 8px;
                text-align: start;
                line-height: 1;
                margin: 0;
            }

            .text-price-card-product{
                color: #5f9300;
                height: calc(100%);
                font-family: 'Archivo Narrow', sans-serif;
                font-weight: 800;
                font-size: 18px;
                padding: 0 10px;
                /* text-align: center; */
                margin: 0;
            }
        }

        .content-footer-card-product{
            width: calc(100%);
            display: flex;
            align-items: flex-end;
            justify-content: end;
            margin-top: 0.2rem;

            .text-type-card-product{
                margin: 0;
                margin-right: 1rem;
                color: #0000006b;
                font-family: 'Archivo Narrow', serif;
                font-weight: 800;
                font-size: 16px;
            }
        }
    }
}


.container-form {
    width: calc(70%);
    margin: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 2px 0 rgb(150, 155, 160);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;

    .content-form {
        display: flex;
        width: calc(100%);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;



        .content-form-item {
            width: calc(100%);
            display: flex;
            flex-direction: row;
            font-family: 'Lato';

            .form {
                width: calc(100%);
                display: flex;
                flex-direction: column;
                margin: 1rem;

                .title {
                    color: black;
                    font-size: 18px;
                    margin: 0 0 0.4rem 0;
                }

                .form-data {
                    border: none;
                    height: 2.375rem;
                    width: calc(100%);
                    padding-left: 1.5rem;
                    padding-right: 1.25rem;
                    background-color: #f0f0f0;
                    box-shadow: none;
                    border-radius: 0.4rem 0.6rem 0.6rem 0.4rem;
                    outline: 0;
                }

                .fa-solid {
                    width: 1rem;
                    position: relative;
                    font-size: 1rem;
                    line-height: 2.375rem;
                    left: calc(100% - 2rem);
                    top: -2.39rem;
                    color: #000000;
                    margin-bottom: -2rem;
                }

                .form-field-date {
                    margin-top: 1rem;
                    height: 4.5rem;
                }

            }

            .form-text {
                width: 100%;
            }

        }

        .form-button {
            width: calc(100%);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 1rem 1rem 1rem;
        }

    }


}