<app-view-data [ItemViewGrid]="customTemplate" [FormView]="formupdate" [ItemData]="data$" [columns]="tableColumnsInventory"
  [clickItems]="dataItems" [FormCreateView]="form"></app-view-data>


<ng-template #customTemplate let-data>
  <mat-card class="card-product">
    <div class="container-card-product">
      <img class="img-card-product" [src]="imgItems(data.tipoProducto)">
  
      <div class="content-body-card-product">
        <h1 class="text-name-card-product">{{data.descripcion}}</h1>
        <span class="text-price-card-product">${{data.precioVenta}}</span>
      </div>
  
      <div class="content-footer-card-product">
        <h2 class="text-type-card-product">{{data.tipoProducto}}</h2>
      </div>
    </div>
  </mat-card>
</ng-template>

<ng-template #form>
  <div class="container-form">
    <form class="content-form" [formGroup]="formCreate">
      <h1 *ngIf="item">Actualizar Producto</h1>
      <h1 *ngIf="!item">Agregar Producto</h1>

      <div class="content-form-item">
        <div class="form">
          <label class="title">Codigo</label>
          <input class="form-data" type="text" formControlName="codProducto" >
        </div>

        <div class="form">
          <label class="title">Descripcion</label>
          <input class="form-data" type="text" formControlName="descripcion" >
        </div>
      </div>

      <div class="content-form-item">
        <div class="form">
          <label class="title">Tipo de producto</label>
          <input class="form-data" type="text" formControlName="tipoProducto"  [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of listTypeProduct | async" [value]="option.tipoProducto"
                style="font-family: 'Crimson Text', serif; color: black;">
                {{option.tipoProducto}}
            </mat-option>
        </mat-autocomplete>
        </div>

        <div class="form">
          <label class="title">Precio Venta</label>
          <input class="form-data" type="text" formControlName="precioVenta">
        </div>

        <div class="form">
          <label class="title">Precio Compra</label>
          <input class="form-data" type="text" formControlName="precioCompra">
        </div>
      </div>

      <div class="content-form-item">
        <div class="form">
          <label class="title">Cantidad</label>
          <input class="form-data" type="text" formControlName="cantidad">
        </div>

        <div class="form">
          <label class="title">Stock Minimo</label>
          <input class="form-data" type="text" formControlName="stockMinimo">
        </div>

        <div class="form">
          <label class="title">Stock Maximo</label>
          <input class="form-data" type="text"formControlName="stockMaximo">
        </div>
      </div>

      <div class="form-button">
        <button class="btn btn-danger">Cancelar</button>

        <button class="btn btn-primary" (click)="saveDataConfirmed()" [disabled]="formCreate.invalid">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #formupdate>
  <div class="container-form">
    <form class="content-form" [formGroup]="formUpdate">
      <h1 *ngIf="item">Actualizar Producto</h1>
      <h1 *ngIf="!item">Agregar Producto</h1>

      <div class="content-form-item">
        <div class="form">
          <label class="title">Codigo</label>
          <input class="form-data" type="text" formControlName="codProducto" readonly>
        </div>

        <div class="form">
          <label class="title">Descripcion</label>
          <input class="form-data" type="text" formControlName="descripcion" >
        </div>

        <div class="form">
          <label class="title">Estado</label>
          <input class="form-data" type="text"formControlName="estado">
        </div>
      </div>

      <div class="content-form-item">
        <div class="form">
          <label class="title">Tipo de producto</label>
          <input class="form-data" type="text" formControlName="tipoProducto"  [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of listTypeProduct | async" [value]="option.tipoProducto"
                style="font-family: 'Crimson Text', serif; color: black;">
                {{option.tipoProducto}}
            </mat-option>
        </mat-autocomplete>
        </div>

        <div class="form">
          <label class="title">Precio Venta</label>
          <input class="form-data" type="text"formControlName="precioVenta">
        </div>

        <div class="form">
          <label class="title">Precio Compra</label>
          <input class="form-data" type="text" formControlName="precioCompra">
        </div>
      </div>

      <div class="content-form-item">
        <div class="form">
          <label class="title">Cantidad</label>
          <input class="form-data" type="text" formControlName="cantidad">
        </div>

        <div class="form">
          <label class="title">Stock Minimo</label>
          <input class="form-data" type="text" formControlName="stockMinimo">
        </div>

        <div class="form">
          <label class="title">Stock Maximo</label>
          <input class="form-data" type="text"formControlName="stockMaximo">
        </div>
      </div>

      <div class="form-button">
        <button class="btn btn-danger">Cancelar</button>

        <button class="btn btn-primary" (click)="saveDataConfirmedUpdate()" [disabled]="formUpdate.invalid">Guardar</button>
      </div>
    </form>
  </div>
</ng-template>


