

<app-view-data [ItemViewGrid]="customTemplate" 
    [FormView]="form" [ItemData]="data$" 
    [columns]="tableColumnsProveedor" 
    [clickItems]="dataItems" 
    [FormCreateView]="form"></app-view-data>



<ng-template #customTemplate let-data>
    <mat-card class="example-card" (click)="onItemClick(data)">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{data.rol}}</mat-card-title>
                <img mat-card-sm-image [src]="image(data.rol)">
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            {{data.descripcion}}
        </mat-card-content>
    </mat-card>
</ng-template>


<ng-template #form let-data>
    <div class="container-form">
        <form class="content-form">
            <h1>Formulario Usuarios</h1>
            <div class="content-form-item">
                <div class="form">
                    <label class="title">rol</label>
                    <input class="form-data" type="text" [value]="data.rol">
                    <i class="fa-solid fa-address-book"></i>
                    <!-- <div class="alert alert-danger mt-1">
                        Error
                    </div> -->
                </div>
                <!-- <div class="form">
                    <label class="title">Apellidos</label>
                    <input class="form-data" type="text">
                    <i class="fa-solid fa-pencil"></i>
                     <div class="alert alert-danger mt-1">
                        Error
                    </div> 
                </div> -->
            </div>
    
    
            <div class="content-form-item">
                <mat-form-field class="form">
                    <mat-label>Descripción</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
    
    
            <div class="form-button">
                <button class="btn btn-danger" #btnEnviar>
                    Cancelar
                </button>
    
                <button class="btn btn-primary" #btnEnviar>
                    Guardar
                </button>
            </div>
    
        </form>
    </div>
</ng-template>